*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------------------------------------ */
nav {
  display: flex;
  justify-content: center;
  background-color: rgb(173, 216, 230);
}

nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  background-color: rgb(218, 165, 32);
  padding: 5px;
  margin: 10px 0;
}

h1 a {
  color: yellow;
  text-decoration: none;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-right: 10px;
}

nav .navbar button {
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
/* ------------------------------ */

.jumbotrone {
  display: flex;
  justify-content: center;
  align-items: center ;
  height: 350px;
  background-color: rgb(0, 0, 139);
}

.jumbotrone .jumbotrone-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  height: 50%;
  background-color: rgb(238, 130, 238);
  text-align: center;
}

.jumbotrone .jumbotrone-nav button {
  margin-right: 30px;
  padding: 10px;
}
/* ------------------------------------------------- */

main section.white-bg {
  padding: 30px 0;
  background-color: rgb(167, 167, 167);
}

main section.gray-bg {
  padding: 30px 0;
  background-color: rgb(41, 41, 41);
}

main .container {
  display: flex;
  width: 70%;
  height: 500px;
  margin: auto;
  background-color: azure;
}

main .container.download {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 70%;
  height: 500px;
  margin: auto;
  background-color: azure;
}

main .container .content-left {
  width: 60%;
  height: 100%;
  background-color: rgb(30, 144, 255);
}

main .container .content-right {
  background-color: rgb(255, 192, 203);
  height: 100%;
  width: 40%;
  
}
